recursive-include orangecontrib/xrdanalyzer *.svg *.png *.jpg
recursive-include orangecontrib/widgetsTests *.svg *.png *.jpg

recursive-include orangecontrib/xrdanalyzer/recovery *.py
recursive-include orangecontrib/xrdanalyzer/controller/fit/data *.dat
recursive-include orangecontrib/xrdanalyzer/controller/fit/data/delta_l_files *.FTInfo

include requirements.txt
include README.md
include LICENSE.txt
include about.md
include *.py *.txt
