recursive-include orangecontrib/xrdanalyzer *.svg *.png *.jpg
recursive-include orangecontrib/widgetsTests *.svg *.png *.jpg

include requirements.txt
include README.md
include LICENSE.txt
include about.md
include *.py *.txt
